a {
  text-decoration: none;
}
body {
  background-color: #fff6e9;
  color: #22668d;
  font-family: "Barlow Condensed", sans-serif;
}
footer {
  font-size: 13px;
  text-align: center;
}
h1 {
  font-size: 50px;
  margin: 35px auto 0px;
  position: relative;
  text-align: center;
  z-index: 1;
}
hr {
  background-color: #ffcc70;
  border: none;
  border-radius: 30px;
  margin: 0 auto 37px;
  padding: 10px 0;
  position: relative;
  top: -24px;
  transform: rotate(-3deg);
  width: 265px;
}
input {
  border: 1px solid #ffcc70;
  border-radius: 30px;
  height: 23px;
  padding: 0 10px;
  width: 250px;
}
.form-group {
  font-size: 23px;
}
#ia-inputs {
  align-items: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 87px 87px;
  margin: auto;
  text-align: center;
  width: 600px;
}
#ia-response {
  border: 1px solid #e83f6f;
  border-radius: 23px;
  font-size: 21px;
  height: 103px;
  margin: 30px auto 10px;
  padding: 10px;
  text-align: center;
  width: 600px;
}
