a {
  text-decoration: none;
}
body {
  background-color: #fff6e9;
  color: #22668d;
  font-family: "Barlow Condensed", sans-serif;
}
footer {
  font-size: 13px;
  text-align: center;
}
h1 {
  font-size: 50px;
  margin: 35px auto 0px;
  position: relative;
  text-align: center;
  z-index: 1;
}
h2 {
  font-size: 30px;
  margin: 10px auto 0px;
  position: relative;
  right: 300px;
  text-align: center;
  z-index: 1;
}

input {
  background-color: rgba(255, 204, 112, 0.2);
  border: 1px solid #ffcc70;
  border-radius: 30px;
  color: #22668d;
  font-family: "Barlow Condensed", sans-serif;
  height: 23px;
  padding: 0 10px;
  width: 250px;
}
.form-group {
  font-size: 23px;
}
.h1-title {
  background-color: #e83f6f;
  border: none;
  border-radius: 30px;
  margin: 0 auto 37px;
  padding: 10px 0;
  position: relative;
  top: -24px;
  transform: rotate(-3deg);
  width: 265px;
}
.h2-title {
  border: none;
  border-radius: 30px;
  margin: 0 auto 10px;
  padding: 10px 0;
  position: relative;
  right: 300px;
  top: -24px;
  transform: rotate(-3deg);
  width: 183px;
}
.hidden {
  display: none;
}
.idea {
  background-color: #8ecddd;
}

.tell-me-more {
  background-color: #ffcc70;
}
.submit-btn {
  grid-column-start: 1;
  grid-column-end: 3;
}

#submit {
  transition: all 200ms ease-in-out;
}
#submit:hover {
  cursor: pointer;
  background-color: #ffcc70;
}
#ia-inputs {
  align-items: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 87px 87px 87px;
  margin: auto;
  text-align: center;
  width: 600px;
}
#ia-response {
  align-items: center;
  background-color: rgba(142, 205, 221, 0.2);
  border: 1px solid #8ecddd;
  border-radius: 23px;
  display: flex;
  font-size: 21px;
  height: 103px;
  justify-content: center;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  width: 600px;
}
